# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Large files
*.csv
*.xlsx
*.h5
*.pkl
*.exe

# Logs and temporary files
*.log
*.tmp
*.DS_Store
*.bak
*.swp

# System files
Thumbs.db
Desktop.ini

# Ignore Python files
__pycache__/
*.py[cod]
venv/
.env

# Ignore IDE
.vscode/
.idea/

# Ignore OS
.DS_Store
Thumbs.db